body {
    background:rgb(64, 165, 224);
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
}

.assignment{
    display:flex;
    padding:10px;
    margin:10px;
    background-color:royalblue;
    border-radius:10px;
}

.assignment img{
    width:200px;
    height:200px;
    border-radius:15px;
    margin:10px;
    border:3px solid royalblue;
}

.assignment img:hover {
    border:3px solid hsl(276, 100%, 50%);
}

h1 {
    color:gold;
    text-align: center;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.5px;
}

a {
    text-decoration:none;
    color:indigo;
}

a:hover {
    color:hsl(276, 100%, 50%);
}